%section#clearance.sign-in.form
  %h2= t('.title')
  = simple_form_for :session, url: session_path do |f|
    = f.input :email
    = f.input :password
    .form-group
      = f.button :submit, class: 'btn-primary'
    .other-links
      - unless User.invite_only?
        = link_to t('.sign_up'), sign_up_path, class: 'btn btn-info'
      = link_to t('.forgot_password'), new_password_path, class: 'btn btn-info'
