%section#clearance.sign-up
  %h2= t('.title')
  = simple_form_for @user do |f|
    = f.input :email
    = f.input :password
    .form-group
      = f.submit class: 'btn btn-primary'
    .other-links
      = link_to t('.sign_in'), sign_in_path, class: 'btn btn-info'
