%section
  %h2 Editing Video
  = simple_form_for @video do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
    .form-inputs
      = f.input :name
      = f.input :air_date, as: :string, input_html: { value: localize(f.object.air_date, format: "%Y.%m.%d") }
      = f.input :external_id, label: 'External ID'
    .form-actions
      = f.button :submit, class: 'btn-primary'
