.page-header.pb-2.mt-4.mb-2.border-bottom
  %h1= @video.name
  - if policy(@video).download?
    %a.btn.btn-primary{href: download_video_path(@video)}
      %i.icon-download-alt.icon-white
      Download
  - if policy(@video).edit?
    %a.btn.btn-primary{href: edit_video_path(@video)}
      %i.icon-edit.icon-white
      Edit

.slider-container.col-10
  %ul.snapshots.row
    - @video.snapshots.order(video_time: :asc).processed.each do |snapshot|
      %li.col-12
        = image_tag(escape_snapshot_url(snapshot.image_url(:large)))
        %p.timestamp=snapshot.formated_video_time

  %ul.rslides_tabs.rslides1_tabs.row
    - @video.snapshots.processed.each_with_index do |snapshot, i|
      %li
        = link_to '#', class: "rslides1_s#{i + 1}" do
          = image_tag(escape_snapshot_url(snapshot.image_url(:tiny)))

%section.extra-info.col-10
  %h3 Extra Info
  .accordion
    .card.bg-light
      .card-body
        %ul.accordion-inner.unstyled.well
          %li
            %strong File Hash:
            #{@video.file_hash}
          %li
            %strong Air Date:
            #{@video.formated_air_date}
          %li
            %strong External ID
            #{@video.external_id}

- if policy(Upload).index?
  %section.uploads.col-10
    %h3 External Uploads
    .card.bg-light
      .card-body
        - if @uploads.empty?
          No External Uploads
        - @uploads.each do |upload|
          = link_to upload.host_provider.name, upload.url, class: 'btn btn-primary'

%section.metadata.col-10#metadata
  %h3 Metadata
  .accordion
    - @video.file_metadata&.each do |section_name, section_content|
      .card.bg-light
        .card-header
          %h4
            %button.btn.btn-link.collapsed{type: 'button', data: {toggle: 'collapse', target: "##{section_name}-metadata"}, aria: { expanded: false, controls: "#{section_name}-metadata" }}
              = section_name.titleize
        .collapse{id: "#{section_name}-metadata", data: { parent: '#metadata' }}
          .card-body
            %ul.accordion-inner.unstyled.well
              - section_content.first.each do |k, v|
                %li <strong>#{k.titleize}</strong>: #{v}

