.page-header
  %h1= @video.name
  %a.btn.btn-primary{href: download_video_url(@video)}
    %i.icon-download-alt.icon-white
    Download

.slider-container.col-10
  %ul.snapshots.row
    - @video.snapshots.processed.each do |snapshot|
      %li.col-12
        = image_tag(escape_snapshot_url(snapshot.image_url(:large)))
        %p.timestamp=snapshot.formated_video_time

  %ul.rslides_tabs.rslides1_tabs.row
    - @video.snapshots.processed.each_with_index do |snapshot, i|
      %li
        = link_to '#', class: "rslides1_s#{i + 1}" do
          = image_tag(escape_snapshot_url(snapshot.image_url(:tiny)))

%section.metadata.col-10
  %h3 Calculated Info
  .accordion
    .card.bg-light
      .card-body
        %ul.accordion-inner.unstyled.well
          %li
            %strong File Hash:
            #{@video.file_hash}
          %li
            %strong Air Date:
            #{@video.formated_air_date}

%section.uploads.col-10
  - @video.uploads.each do |upload|
    = link_to upload.host_provider.name, upload.url

%section.metadata.col-10#metadata
  %h3 Metadata
  .accordion
    - @video.file_metadata&.each do |section_name, section_content|
      .card.bg-light
        .card-header
          %h4
            %button.btn.btn-link.collapsed{type: 'button', data: {toggle: 'collapse', target: "##{section_name}-metadata"}, aria: { expanded: false, controls: "#{section_name}-metadata" }}
              = section_name.titleize
        .collapse{id: "#{section_name}-metadata", data: { parent: '#metadata' }}
          .card-body
            %ul.accordion-inner.unstyled.well
              - section_content.first.each do |k, v|
                %li <strong>#{k.titleize}</strong>: #{v}

