!!!
%html
  %head
    %meta{charset: 'UTF-8'}
    %title Media Manager
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{class: page_class}
    = render 'shared/top_bar'
    .container-fluid
      #content
        - flash_messages
        = yield
      %footer
        %p © Gray 2012-#{DateTime.now.year}
